.note {
    display: flex;
    flex-direction: column;
    margin: 10px;

    height: 300px;
    width: 200px;

    padding: 20px;
    background-image: url("../assets/note_background.png");
    background-repeat:no-repeat;
    background-size: 15em;
    background-position: center;
    background-origin: padding-box;
    /*
    border: 1px solid gray;
    */
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-y: auto;
}

.note-header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.date {
    color: rgb(107, 107, 180);
}

.delete-icon {
    cursor: pointer;
    color: rgb(107, 107, 180);
}

.delete-icon:hover {
    color: rgb(69, 69, 137); 
}

.note-content {
    margin-top: 15px;
    font-family: 100px;
    font-size: 14px;
}