.note {
    display: flex;
    flex-direction: column;
    margin: 10px;

    min-height: 300px;
    min-width: 200px;

    padding: 20px;
    background-color: beige;
    border: 1px solid gray;
    border-radius: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.note-header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.date {
    font-family: sans-serif;
    color: blue;
}

.delete-icon {
    cursor: pointer;
    color: blue;
}

.delete-icon:hover {
    color: rgb(1, 1, 165); 
}

.note-content {
    margin-top: 15px;
    font-family: 100px;
}